:root {
	--h1-color: rgb(243, 245, 127);
	--h2-color: rgba(144, 238, 144, 0.851);
	--h1-text-shadow:4px 4px #000000;
	--text-color: black;
	--background-image: url("images/colorful-background-1.jpg");
	--background-color: ;
}

[data-theme="dark"] {
    --h1-color: rgb(129, 127, 245);
	--h2-color: rgb(238, 144, 238, 0.851);
	--h1-text-shadow:4px 4px #ffffff;
	--text-color: white;
	--background-image: ;
	--background-color: darkblue;
}

canvas {
	border: 2px solid;
	width: 85%;
	height: 85%;
	margin: auto;
	display: block;
}

body {
	background-image: var(--background-image);
	background-color: var(--background-color);
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 70px;
	color: var(--h1-color);
	text-align: center;
	text-shadow: var(--h1-text-shadow);
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	background-color: var(--h2-color);
	color: var(--text-color);
	border:2px solid var(--text-color);
	border-radius: 25px;
	padding: 10px;
}
.whole{
    width:600px;
    height:400px;
    position: absolute;
    top:25%;
    left:25%;
    z-index: 1;
    text-align: center;
    color:yellow;
    font-size:40px;
    font-weight:bold;
    display:flex;
    display:none;
}
.whole p{
    margin-top:100px;
}
.part1{
    flex-basis: 25%;
    background-color:purple;
}
.part2{
    flex-basis: 25%;
    background-color:black;
}
.part3{
    flex-basis: 25%;
    background-color:blue;
}
.part4{
    flex-basis: 25%;
    background-color:red;
}
aside{
    text-align: center;
}
label{
    color:green;
}
.love{
    color:red;
}
.need2{
    color:red;
    display:none;
}

